h2 {
    background-color: rgb(182, 180, 59);
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
    text-transform: uppercase;
}

h3 {
    color: rgb(182, 180, 59);
    font-size: 1.2em;
    margin: 0.5em 0;
}

.poznamka {
    background-color: #ddd;
    font-size: 0.9em;
    padding: 0.5em;
}

h1 small {
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 0.6em;
    padding: 0.3em;
}
#dropdownId{
    background-color:  rgb(182, 180, 59);
}

nav.navbar-dark {
    background-color:  rgba(0,0,0,0.5) !important;
}

#udalosti a {
    font-weight: bold;
    color: rgb(182, 180, 59);
    font-size: 1.2em;
}

#udalosti .event-year {
    font-weight: bold;
    font-size: 1.2em;
}

#udalosti .event-evaluation {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

#zpravodaj h3 {
    font-weight: bold;
    font-size: 1.5em;
    /*text-align: center;*/
    padding-bottom: 20px;
}
header{
    background-color:  rgb(182, 180, 59);
}
#map{
    text-align: center;
    padding-right: 120px;
}